
 <div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Users</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Package Name
                                  </th>
                                  <th>
                                      Amount
                                  </th>
                                  <th>
                                     Type
                                  </th>
                                  <th>
                                      Description
                                  </th>
                                  <th>
                                    Duration
                                  </th>
                                  <th>
                                      Action
                                  </th>
                              </thead>
                              <tbody *ngIf="!isLoading">
                                  <tr *ngFor="let sub of packages; let i = index">
                                      <td>
                                          {{sub.id}}
                                      </td>
                                      <td>
                                          {{sub.name}}
                                      </td>
                                      <td>
                                        {{sub.amount}}
                                      </td>
                                      <td>
                                        {{sub.pack_type}}
                                      </td>
                                      <td>
                                        {{sub.description}}
                                      </td>
                                      <td>
                                        {{sub.duration}}
                                      </td>
                                      <td>
                                          <button mat-raised-button class="btn btn-primary">
                                              <i class="material-icons">
                                                  visibility
                                              </i>
                                          </button>
                                         
                                          <button mat-raised-button class="btn btn-success">
                                            <i class="material-icons">
                                                edit
                                            </i>
                                        </button>
                                          <button mat-raised-button class="btn btn-danger">
                                              <i class="material-icons">
                                                  delete_forever
                                              </i>
                                          </button>
                                      </td>
                                  </tr>


                              </tbody>
                              <tbody *ngIf="isLoading">
                                  <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td>
                                          <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
                                          </mat-progress-spinner>
                                      </td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>