<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger row">
                        <div class="col-md-10">
                            <h4 class="card-title mt-0">Events</h4>
                            <p class="card-category"> Here is events are displayes and Click plus button to add</p>
                        </div>
                        <div class="col-md-2 text-center">
                            <a [routerLink]="['new']">
                                <i class="add-blog material-icons">
                                    add_circle_outline
                                </i>
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody *ngIf="!isLoading">
                                    <tr *ngFor="let event of events">
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            {{event.title}}
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td>
                                            $36,738
                                        </td>
                                        <td>
                                            <button mat-raised-button class="btn btn-primary">
                                                <i class="material-icons">
                                                    visibility
                                                </i>
                                            </button>
                                            <button mat-raised-button class="btn btn-success">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </button>
                                            <button mat-raised-button class="btn btn-danger">
                                                <i class="material-icons">
                                                    delete_forever
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="isLoading">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
                                            </mat-progress-spinner>
                                        </td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>