<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger row">
                <div class="col-md-10">
                    <h4 class="card-title mt-0"> Blogs</h4>
                    <p class="card-category"> All blogs are below add blog on click plus button</p>
                </div>
                <div class="col-md-2 text-center">
                    <a [routerLink]="['new']">
                        <i class="add-blog material-icons">
                            add_circle_outline
                        </i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2>Blogs</h2>
                    </div>
                    <div class="row" *ngFor="let blog of blogs">
                        <div class="col-md-9">

                            <div class="tim-typo">
                                <p *ngIf="!isLoading">
                                    <span class="tim-note">{{blog.title}}</span>
                                    {{blog.content}}
                                </p>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <button mat-raised-button class="btn btn-primary">
                                <i class="material-icons">
                                    visibility
                                </i>
                            </button>
                            <button mat-raised-button class="btn btn-success">
                                <i class="material-icons">
                                    edit
                                </i>
                            </button>
                            <button mat-raised-button class="btn btn-danger">
                                <i class="material-icons">
                                    delete_forever
                                </i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="tim-typo">
                            <p *ngIf="isLoading">
                                <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
                                </mat-progress-spinner>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>